/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border-color: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*** Header ***/
.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img{
    height: 20px;
    margin-top: 20px;
}

nav ul{
    height: 79px;
    display: flex;
}

nav li{
    padding-top: 16px;
    margin-left: 48px;
    border-top: 3px white solid;
}

nav li:hover{
    color: var(--main-color);
    border-top: 3px var(--main-color) solid;
    transition: border-top 0.4s ease-out;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    padding: 0;
    list-style: none;
}
/*** Info group ***/
.infos-group{
    display: flex;
    margin-top: 8px;
    margin-bottom: 1.5em;
}

/*** Search and Filter ***/

/*** Search ***/
.searchs{
    display: flex;
    margin: 25px 25px 25px 0px;
}

.fa-location-dot{
    color: black;
    padding: 16px 15px 15px 17px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

input[type="search"]{
    padding: 15px;
    margin: 0;
    border: 2px var(--main-bg-color) solid;
}

button[type="submit"]{
    background-color: var(--main-color);
    color: white;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

button[type="submit"]:hover{
    box-shadow: inset 8em 0 #4F96FF;
    transition: 0.5s linear;
}

.button-text{
    padding: 15px;
}

/*** Filter ***/
.filter-bar {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    font-weight: bold;
    margin-top: 35px;
    align-items: center;
    gap: 15px;
}

.filtres {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 0px 15px;
    height: 50px;
    align-items: center ;
    background-color: white;
    font-weight: bold;
    font-size: 17px;
}
 

.filter-bar button:hover {
    background-color: #DEEBFF;
    cursor: default;  /* Laisse le curseur d'origine */
}

.filter-bar i {
    padding: 0px 10px;
    padding-left: 3px;
}

/*** FootLine ***/
.FootLine{
    display: flex;
    flex-direction: row;
    /*align-items: baseline;*/
}

.footline-text{
    padding-left: 1em;
}

.footline-icon{
    padding-top: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergement-card img{
   width: 230px;
   Height: 124px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.hebergement-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    row-gap: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*** Activité ***/

.activite {
    padding: 30px;
}

.activite .section-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.activite-card
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.activite-card a {
    width: 23%;
    
}

.activite img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 87%;
    
}
 .activite-card .card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0;
}

.activite-card .card-title {
    margin-top: 0;
    margin-bottom: 0;
}

.activite-card .card-content {
    padding-left: 19px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*** footer ***/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--Grey, #F2F2F2);
    padding-left: 2%;
    padding-bottom: 20px;
    margin-top: 30px;
}

.lien-footer H3 {
    margin-bottom: 3%;
}

.lien-footer article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.lien-footer {
    width: 30%;
    
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media (max-width: 3000px) {
    footer {
        display: flex;
        justify-content: center;

    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activite-article img{
        height: 270px;
        width: 180px;
    } 
    footer {
    
        margin-top: 30px;
     }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .entete{
        display: flex;
        flex-direction: column;
    }

    header img{
        height: 10px;
        width: 50px;
        margin-top: 10px;
        display: flex;
        align-content:center;
    }
    .FilterBar{
        display: flex;
        flex-direction: column;
    }
    .filter-element{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .first-element{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .second-element{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    .first-element>.filter:first-child{
        display: flex;
        margin-right: 40px;
    }
    .second-element>.filter:first-child{
        display: flex;
        margin-right: 40px;
    }
    .filter{
        margin: 10px 15px 10px 0px;
        width: 162px;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite-element{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .activite-article img{
        height: 200px;
        width: 100%;
    }
    
    /***************    Footer    ***************/

    footer {
        display: flex;
        flex-direction: column;
        margin-top: 35px ;
        padding: 30px;
    }
    .lien-footer h3 {
        margin: 0;
    }
    .lien-footer article {
        margin-bottom: 50px;
        gap: 15px;
    }
    .lien-footer {
        width: 100%;
    }
}